.upper_content{
    background-image: url('../../public/Poster.svg');
    height: 500px;
   
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 80px;
    font-family: 'clash display';
    
  }
  .upper_content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
 .logo img{
   height: 50px;
  }
  .logo label{
    font-size: 24px ;
    color: white;
    font-weight: 700;
  }

  .form{
    border: 1.3px solid #fff;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    border-radius: 15px;
    
  }
  .form input{
    height: 45px;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    color: #fff;
    padding-left: 20px;
    font-size: 16px;
    
  }
.form img{
    height: 20px;
}
   
  .navbar{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .upper_content {
    color: #fff;
  }
  .upper_content h3{
    padding-top: 50px;
    font-size: 42px;
    font-weight: 600;
  }
  .upper_content p{
    font-family: var(--spacegrotesk);
  }
  .upper_content img{
    cursor: pointer;
  }
  .go{
    margin-top: 20px;
  }


  @media (max-width : 987px) {
    .upper_content{
        height: 80vh;
      
        padding: 10px 10px;
        background-size: cover;
        padding-bottom: 20px;
    }
    .logo img{
        height: 45px;
    }
    .logo label{
        font-size: 19px;
        font-weight: 500;
    }
    .upper_content nav{
      padding-top: 20px;
    }

    .navbar a{
      display: none;
    }
    .form{
      display: none;
    }
  }
